<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="ETechFlow_ShippingTableRates::config"
                                      title="ETechFlow Shipping Table Rates"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="ETechFlow_ShippingTableRates::manage"
                              title="Manage Shipping Table Rates"
                              sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
